Importing our Libraries

In [14]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
!pip install lat-lon-parser
from lat_lon_parser import parse

Requirement already satisfied: lat-lon-parser in /opt/anaconda3/lib/python3.12/site-packages (1.3.1)

Enter your API key in order to run the weather API

In [19]:
API_key =(Enter API_KEY)

In [21]:
#Here is our loop to run the weather for 5 days of forcasting for the following cities

city = ["Hamburg", "Munich", "San Francisco", "La Paz"]
date = "today"
city_names = []
temp_min = []
temp_max = []
feels_like = []
day = []
#countries = []
#latitudes = []
#longitudes = []
#def weather_dataframe(cities):
for cities in city:
    url = f"https://www.wikipedia.org/wiki/{cities}"
    response = requests.get(url)
    city_soup = BeautifulSoup(response.content, 'html.parser')
    city_country = city_soup.find(class_="infobox-data").get_text()
    city_latitude = city_soup.find(class_="latitude").get_text()
    city_longitude = city_soup.find(class_="longitude").get_text()
        # parse data other wise list is empty
    city_latitude = parse(city_latitude)
    city_longitude = parse(city_longitude)
    wth_data= []
    weather = requests.get(f"https://api.openweathermap.org/data/2.5/forecast?lat={city_latitude}&lon={city_longitude}&appid={API_key}&units=metric")
    wth_json = weather.json()
  
    for i in range(len(wth_json["list"])):
        city_names.append(cities)  # this line needs to go!
        temp_min.append(wth_json["list"][i]["main"]["temp_min"])
        temp_max.append(wth_json["list"][i]["main"]["temp_max"])
        feels_like.append(wth_json["list"][i]["main"]["feels_like"])
        day.append(wth_json["list"][i]["dt_txt"])
        # keep track of data per city
        #indent in the loop!
        wth_data= ({"City_name": city_names, # this needs to be the list of cities!
                    "Day": day,
                    "Min_temp": temp_min,
                    "Max_temp": temp_max,
                    "Feels_like" : feels_like,
                    })
        weather_df = pd.DataFrame(wth_data)

In [23]:
weather_df

    City_name                  Day  Min_temp  Max_temp  Feels_like
0     Hamburg  2024-12-09 09:00:00      4.81      5.83        1.22
1     Hamburg  2024-12-09 12:00:00      4.95      5.54        1.23
2     Hamburg  2024-12-09 15:00:00      5.34      5.50        1.24
3     Hamburg  2024-12-09 18:00:00      5.29      5.29        1.12
4     Hamburg  2024-12-09 21:00:00      5.18      5.18        1.08
..        ...                  ...       ...       ...         ...
155    La Paz  2024-12-13 18:00:00     11.05     11.05        9.93
156    La Paz  2024-12-13 21:00:00      6.10      6.10        2.96
157    La Paz  2024-12-14 00:00:00      6.73      6.73        4.95
158    La Paz  2024-12-14 03:00:00      6.69      6.69        5.13
159    La Paz  2024-12-14 06:00:00      6.27      6.27        5.04

[160 rows x 5 columns]

Setting up the connection between Jupiter lab and MySQL

In [25]:
schema = "gans_local" # The name of your database
host = "127.0.0.1"
user = "root"
password = # USE Your MySQL password
port = 3306

connection_string = f'mysql+pymysql://{user}:{password}@{host}:{port}/{schema}'

Reading the cities table from MySQL to check the connection

In [ ]:
cities_from_sql = pd.read_sql("cities", con=connection_string)
cities_from_sql

In [ ]:
#send weather table to SQL
weather_df.to_sql("weather_df",
                  if_exists="append",
                  con=connection_string,
                  index=False)

In [ ]:
cities_from_sql

Getting the our tables from Jupiter lab and MySQL to match

In [ ]:
#df = df.drop('column_name', axis=1)
weather_df3= weather2_df.drop({"City_id_x", "Country"} ,axis=1)
weather_df3

In [ ]:
#df.rename(columns={'oldName1': 'newName1'
weather_df= weather_df3.rename(columns = {"City_id_y" : "City_id"})
weather_df

In [ ]:
weather_df.to_sql("weather_df",
                  if_exists="append",
                  con=connection_string,
                  index=False)